// variables 

// $fonts : 'Raleway', monospace;

$primary-color: #888888;
$light-grey: #666666;
$dark-grey: #333333;
$white: #FFFFFF;
$orange : #ff9d1d;
$orange-hover : #F56B08;

// media query 

$xs: 767px;